@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <HEAD>
        <TITLE>BIBLIOTECA CUNOR</TITLE>
        <STYLE type="text/css">
            H1 {
                text-align: center
            }
        </STYLE>
    </HEAD>
   
            <H1> BIBLIOTECA CUNOR </H1>
            <h2>  <img class="center-block" src="~/imagenes/Logo.png" alt="Solvetic">  </h2>
            <p class="lead">
                La Biblioteca del Centro Universitario del Norte, se ubica en el Edificio de Recursos Educativos.
                En esta página se dan a conocer los diferentes servicios que la Biblioteca del CUNOR ofrece entre ellos: Registro de Libros en formato PDF, Registro de Autores, Busqueda por medio de etiquetas o Tags,
                espacio publico (blog) y consulta de material bibliográfico.
            </p>
            <center>
                <p><a href="https://www.facebook.com/paginacunor/" class="btn btn-primary btn-lg">Pagina Oficial CUNOR Facebook &raquo;</a></p>
            </center>

            <div>
                <img class="center-block" src="~/imagenes/cunor2.JPG" alt="Solvetic">
            </div>
